/archive/
/backup/
/certs/
/Doc/
/keys/
/spool/
/WNDSAV/

/dmp

*.exe
*.dll
*.dat
*.ik
*.bin
*.wnd

*.pdf
*.chm

/*.ico
/*.bmp

/info.log
/keygen.cnt
/KEYGEN.HLP
/QRYPTO.CFG
/*.txk

/kds.lua

/clear.cmd
/clear_wnd.cmd
/newfiles
/register.url
